.header {
	background-color: #000;
	width : 100%;
	height : 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size : 40px;
}
.header_block {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight : bold;
	text-align : center;
	color: #4EA8DE;
}
.header_block span {
	color: #5E60CE;
}