.popup {
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.popup-con {

}
.popup-form {
	display: flex;
	flex-direction: column;
	width : 460px;
	height : 300px;
	padding: 20px;
	background-color: #262626;
	border-radius: 10px;
}
.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup-header > div {
	font-size : 20px;
	font-weight : 700;
}
.popup-header > button {
	width : 23px;
	height : 23px;
	background-color: palevioletred;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 0 10px;
}
.popup-inputs > input{
	background-color: #1A1A1A;
	border: #000 1px solid;
	border-radius: 8px;
	height : 38px;
	font-size : 14px;
	padding-left: 15px;
	opacity: .8;
}
.popup-inputs > input:focus, .popup-inputs > input:active {
	border: #4EA8DE 1px solid;
	opacity: 1;
}
.popup-button {
	width: 100%;
	height : 52px;
	text-align : center;
	border-radius: 6px;
	background-color: #414141;
	color: #fff;
}