
.create-btn {
	position : absolute;
	top: -26px;
	left: 0;
	width: 100%;
	height : 52px;
	text-align: center;
	background-color: #4EA8DE;
	border-radius: 4px;
}
.content {
	padding-top: 90px;
	font-weight : bold;
}
.content-info > span{
	background-color: #414141;
	padding: 2px 13px;
	color: #fff;
	border-radius: 13px;
}
.todo-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: #fff;
	margin-top: 25px;
}
.todo-item {
	padding: 16px;
	display: flex;
	align-items: start;
	background-color: #262626;
	border-radius: 6px;
	border: 2px solid #333333;
}
.todo-item-content {
	width: 100%;
}
.todo-item_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.todo-item_title {
	font-size : 20px;
	font-weight : 700;
}
.todo-item_text {
	font-size : 14px;
}
.todo-item_checkbox {
	margin: 8px 8px 0 0;
}
.todo-item.active .todo-item_title, .todo-item.active .todo-item_text {
	text-decoration: line-through;
	opacity: .5;
}
.todo-item-info {
	display: flex;
	gap: 13px;
}
.todo-item-info_data {
	color:#808080;
	width: 137px;
	font-size : 10px;
}
.todo-item-info_data > div{
	display: flex;
	justify-content: space-between;
}
.todo-item-info_tools button{
	font-size : 12px;
}