
.breadcrumbs {
	color: #414141;
	display: flex;
	gap: 5px;
	list-style: none;
	margin: 30px 0 10px;
}
.breadcrumbs a {
	color: #414141;
}
.todo-card {

}
.todo-card-item {
	padding: 10px;
	border-radius: 6px;
	background-color: #262626;
	border: #333333 1px solid;
	color: #fff;
}
.todo-card-info {
	max-width: 140px;
	width: 100%;
	color: #808080;
	font-size : 10px;
	margin-top: 10px;
}
.todo-card-info > div {
	display: flex;
	justify-content: space-between;
}
h1, p {
	margin: 0;
}