
.create-btn {
	position : absolute;
	top: -26px;
	left: 0;
	width: 100%;
	height : 52px;
	background-color: #1E6F9F;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size : 14px;
	font-weight : 700;
}
.content {
	padding-top: 90px;
	font-weight : bold;
}
.content-info > span{
	background-color: #414141;
	padding: 2px 13px;
	color: #fff;
	border-radius: 13px;
}
.todo-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: #fff;
	margin-top: 25px;
}
.todo-item {
	padding: 16px;
	display: flex;
	align-items: start;
	background-color: #262626;
	border-radius: 6px;
	border: 2px solid #333333;
}
.todo-item-content {
	width: 100%;
}
.todo-item_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.todo-item_title {
	font-size : 20px;
	font-weight : 700;
}
.todo-item_text {
	font-size : 14px;
}
.todo-item.active .todo-item_checkbox::after{
	content: url("../../assets/svg/check.svg");
	position : absolute;
	left: auto;
	top: -3px;
}
.todo-item.active .todo-item_checkbox{
	border: #5E60CE solid 1px;
	background-color: #5E60CE;

}
.todo-item_checkbox {
	display: flex;
	position : relative;
	margin: 2px 12px 0 0;
	border: 3px solid #4EA8DE;
	border-radius: 15px;
	width: 24px;
	height : 24px;
}
.todo-item.active .todo-item_title, .todo-item.active .todo-item_text {
	text-decoration: line-through;
	opacity: .5;
}
.todo-item-info {
	display: flex;
	gap: 13px;
}
.todo-item-info_data {
	color:#808080;
	width: 137px;
	font-size : 10px;
}
.todo-item-info_data > div{
	display: flex;
	justify-content: space-between;
}
.todo-item-info_tools button{
	font-size : 12px;
}

.icon-del {
	background: url('../../assets/svg/delete.svg') no-repeat;
}
.icon-edit {
	background: url('../../assets/svg/edit.svg') no-repeat;
}