@import url('styles/header.css');
@import url('styles/todo.css');
@import url('styles/todo-card.css');
@import url('styles/popup.css');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1A1A1A;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;

}
a:hover {
  color: gray;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-size : 16px;
}

button, input {
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
